@model List<Web.Model.tbl_User>
<table class="table table-striped cabn_datatable">
    <thead>
        <tr>
            <th>
                <input type="hidden" id="hdfID" />
                <div class="checkbox">
                    <input id="chkall" type="checkbox">
                    <label for="chkall"></label>
                </div>
            </th>
            <th>Tên đăng nhập</th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align: middle;">
                    <div class="checkbox">
                        <input type="checkbox" value="@item.ID" id="chk'@item.ID'">
                        <label for="chk'@item.ID'"></label>
                    </div>
                </td>
                <td style="vertical-align: middle;">@item.UserName</td>
                <td style="vertical-align: middle;">@item.FullName</td>
                <td>@item.Email</td>
                <td style="vertical-align: middle;">@item.Phone</td>
                <td style="vertical-align: middle;">@Html.Raw(item.Active ? "<span style='color:green'>Kích hoạt</span>" : "<span style='color:red'>Vô hiệu</span>")</td>
                <td style="vertical-align: middle;">
                    <div class="btn-list pull-right mr5">

                     @* @if (ViewBag.IsAdmin || (ViewBag.Roles != null && ViewBag.Roles.Contains("Account.Edit")))
                        {
                            <a href="#" class="btn btn-warning btn-bordered" onclick="account.loadfrmReset(@item.ID) " title="Reset mật khẩu"><i class="fa fa-key"></i></a>
                        } *@
                        @if (ViewBag.IsAdmin || (ViewBag.Roles != null && ViewBag.Roles.Contains("Account.Edit")))
                        {
                            <a href="#" class="btn btn-primary btn-bordered" onclick="account.loadfrmEdit(@item.ID) " title="Sửa"><i class="glyphicon glyphicon-pencil"></i></a>
                        }
                        @if (ViewBag.IsAdmin || (ViewBag.Roles != null && ViewBag.Roles.Contains("Account.Edit")))
                        {
                            <a href="#" class="btn btn-success btn-bordered" onclick="account.active(@item.ID) " title="@(item.Active ? "Vô hiệu" : "Kích hoạt" )">
                                <i class="fa fa-power-off"></i>
                            </a>
                        }
                        @if (ViewBag.IsAdmin || (ViewBag.Roles != null && ViewBag.Roles.Contains("Account.Delete")))
                        {
                            <a href="#" class="btn btn-danger btn-bordered" onclick="account.ondelete(@item.ID) " title="Xóa">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        InitClickCheckAllInTable("chkall", function (res) {
            $("#hdfID").val(res);
        });
    });
</script>
